# =======================
# Common ignore
# =======================
**/.git
**/.gitignore
**/.env
**/.DS_Store
**/.vscode
**/node_modules
**/build
**/dist
**/.dart_tool
**/.idea
**/android/app/build
**/ios/Runner.build
**/ios/Pods
**/web_server.log

# Docker-related
Dockerfile*
docker-compose*
.dockerignore

# OS caches
Thumbs.db
ehthumbs.db
